.btn {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: white;
    font-size: 75px;
    cursor: pointer;
    background-color: #2B5278;
    font-family: 'Odibee Sans', cursive;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #E92539;
}