body {
  margin: 0;
  /*background: url("https://i.pinimg.com/originals/35/e9/25/35e925be60c01182d112839b877f8858.jpg");*/
  background: url("https://i.gifer.com/8Iva.gif");
  font-family: 'Odibee Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
